<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liupengstudy.selection_of_college_graduation_design.mapper.ManagersDetailsTableMapper" >
  <resultMap id="BaseResultMap" type="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="managerID" property="managerid" jdbcType="INTEGER" />
    <result column="phoneNumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, managerID, phoneNumber, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from managersDetailsTable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByManagerID" resultType="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable">
    select * from selection_of_college_graduation_design.managersDetailsTable where managerID = #{managerID}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from managersDetailsTable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into managersDetailsTable (managerID, phoneNumber, name
      )
    values (#{managerid,jdbcType=INTEGER}, #{phonenumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into managersDetailsTable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        managerID,
      </if>
      <if test="phonenumber != null" >
        phoneNumber,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable" >
    update managersDetailsTable
    <set >
      <if test="managerid != null" >
        managerID = #{managerid,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.ManagersDetailsTable" >
    update managersDetailsTable
    set managerID = #{managerid,jdbcType=INTEGER},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>