<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liupengstudy.selection_of_college_graduation_design.mapper.StudentsLandingTableMapper" >
  <resultMap id="BaseResultMap" type="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="studentsID" property="studentsid" jdbcType="VARCHAR" />
    <result column="passwordValue" property="passwordvalue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, studentsID, passwordValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studentsLandingTable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findStudentLandingInformationByStudentID" resultType="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable">
    select * from studentsLandingTable where studentsID = #{studentsID}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studentsLandingTable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into studentsLandingTable (studentsID, passwordValue)
    values (#{studentsid,jdbcType=VARCHAR}, #{passwordvalue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into studentsLandingTable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentsid != null" >
        studentsID,
      </if>
      <if test="passwordvalue != null" >
        passwordValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentsid != null" >
        #{studentsid,jdbcType=VARCHAR},
      </if>
      <if test="passwordvalue != null" >
        #{passwordvalue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable" >
    update studentsLandingTable
    <set >
      <if test="studentsid != null" >
        studentsID = #{studentsid,jdbcType=VARCHAR},
      </if>
      <if test="passwordvalue != null" >
        passwordValue = #{passwordvalue,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.StudentsLandingTable" >
    update studentsLandingTable
    set studentsID = #{studentsid,jdbcType=VARCHAR},
      passwordValue = #{passwordvalue,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>