<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liupengstudy.selection_of_college_graduation_design.mapper.SystemAnnouncementTableMapper" >
  <resultMap id="BaseResultMap" type="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="authorID" property="authorid" jdbcType="VARCHAR" />
    <result column="datetime" property="datetime" jdbcType="DATE" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, authorID, datetime, title, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from systemAnnouncementTable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAll" resultType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable">
    select * from selection_of_college_graduation_design.systemAnnouncementTable;
  </select>
  <select id="isPresence" resultType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable">
    select * from selection_of_college_graduation_design.systemAnnouncementTable where title = #{title}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from systemAnnouncementTable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into systemAnnouncementTable (authorID, datetime, title, 
      content)
    values (#{authorid,jdbcType=VARCHAR}, #{datetime,jdbcType=DATE}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into systemAnnouncementTable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorid != null" >
        authorID,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorid != null" >
        #{authorid,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=DATE},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable" >
    update systemAnnouncementTable
    <set >
      <if test="authorid != null" >
        authorID = #{authorid,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=DATE},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liupengstudy.selection_of_college_graduation_design.pojo.SystemAnnouncementTable" >
    update systemAnnouncementTable
    set authorID = #{authorid,jdbcType=VARCHAR},
      datetime = #{datetime,jdbcType=DATE},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>